.features {
  @include container;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;

  @media ($mediaTablet) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media ($mediaDesktop) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.features__header {
  margin: 0 0 4px 0;
}

.features__title {
  margin: 0 0 36px 0;

  @media ($mediaTablet) {
    margin-bottom: 60px;
  }

  @media ($mediaDesktop) {
    margin-bottom: 80px;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;

  @media ($mediaTablet) {
    gap: 50px 30px;
  }
}

.features__item {
  max-width: 339px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media ($mediaTablet) {
    flex-direction: row;
    text-align: left;
    gap: 20px;
    align-items: flex-start;
  }

  @media ($mediaDesktop) {
    max-width: 317px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.features__image {
  width: 52px;
  margin-bottom: 10px;

  img {
    @include image;
  }

  @media ($mediaTablet) {
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.features__item-title {
  font-size: 18px;
  line-height: 32px;
  margin: 0 0 4px 0;

  @media ($mediaTablet) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.features__text {
  margin: 0;

  @media ($mediaTablet) {
    font-size: 16px;
    line-height: 24px;
  }
}
