.footer__logo {
  @include link-reset;
  display: block;
  height: 36px;

  img {
    @include image;
  }

  @media ($mediaDesktop) {
    display: inline-block;
  }
}

.footer__logo-text {
  display: none;

  @media ($mediaDesktop) {
    display: block;
    margin: 0 0 50px 0;
    font-size: 14px;
  }
}

.footer__container {
  @media ($mediaTablet) {
    @include container;
    padding-top: 40px;
  }

  @media ($mediaDesktop) {
    display: flex;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $colorBaseSecondary;

  @media ($mediaTablet) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 27px;
  }

  @media ($mediaDesktop) {
    display: block;
    margin: 0 30px 0 0;
    flex-shrink: 0;
    max-width: 318px;
    width: 100%;
  }
}

.footer__nav {
  @media ($mediaTablet) {
    display: flex;
    gap: 30px;
    width: 100%;
  }
}

.footer__copyright {
  padding: 20px 20px 30px;

  @media ($mediaTablet) {
    padding: 30px 20px 40px;
  }

  @media ($mediaDesktop) {
    padding-top: 20px;
  }
}

.footer__copyright-text {
  display: flex;
  color: $colorBaseGrey;
  font-size: 12px;
  margin: 0;
  width: 100%;
  gap: 3px;
  justify-content: center;
  line-height: 16px;

  a {
    @include link-reset;
    display: flex;
    gap: 4px;
    align-items: center;

    @media ($mediaTablet) {
      &:hover,
      &:focus-visible {
        color: $colorBasePrimary;
      }
    }

    &:active {
      color: $colorPrimaryDarker;
    }
  }
}
