.personal-nav__list {
  @include list-reset;
  display: flex;
  align-items: center;

  @media ($mediaDesktop) {
    gap: 15px;
  }
}

.personal-nav__item {
  align-self: stretch;

  &--burger {
    @media ($mediaTablet) {
      display: none;
    }
  }
}

.personal-nav__button {
  @include link-reset;
  display: block;
  padding: 22px;
  height: 100%;

  svg {
    display: block;
    color: inherit;
  }

  &:active {
    background-color: $colorBaseSecondary;
  }

  @media ($mediaTablet) {
    padding-top: 28px;
    padding-bottom: 28px;

    &:hover,
    &:focus-visible {
      color: $colorBasePrimary;
    }
  }

  @media ($mediaTablet) {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.personal-nav__hidden-text {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.24px;
  font-weight: 500;

  @media ($mediaNoDesktop) {
    @include visually-hidden;
  }
}
